:root {
    --primary-color: #0d9263;
    --secondary-color: #d4ce46;
    --highlights-color: #4aba91;
    --shadows-color: #0e5135;
    --background-color: #494b4b;
}

@font-face {
    font-family: 'triforcetriforce';
    src: url('../assets/triforce-webfont.woff2') format('woff2'),
         url('../assets/triforce-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

.row {
    display: block;
    margin-bottom: 15px;
}

/*
 * START - Height Layers
 * lower the number, lower the element
 */
.layer-loader {
  z-index: 200;
}

.layer-overlay {
  z-index: 100;
}

.above-overlay-1 {
  z-index: 110;
}
/*
 * END - Height Layers
 */

body {
  background-color: var(--background-color);
  margin: 0;
}

input[type="text"] {
  width: 300px;
  height: 50px;
  font-size: 24px;
  margin: auto;
}

input[type="button"] {
    display: block;
    width: 95%;
    min-width: 200px;
    height: 80px;
    text-align: center;
    font-size: 32px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    border-top-color: var(--highlights-color);
    border-left-color: var(--highlights-color);
    border-right-color: var(--shadows-color);
    border-bottom-color: var(--shadows-color);
    border-radius: 10px;
    margin: auto auto 15px auto;
}

input[type="button"]:hover {
    background-color: var(--highlights-color);
}

input[type="button"]:active {
    background-color: var(--shadows-color);
}

input[type="checkbox"] {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

input[type="checkbox"] + label {
  display: inline-block;
  line-height: 28px;
}

#race-category, #race-name {
    margin-left: 20px;
    color: var(--secondary-color);
}

#race-category {
    font-size: 24px;
    font-family: 'triforcetriforce';
}

#race-name {
    font-size: 12px;
}

#time-container {
    width: 400px;
    margin-bottom: 25px;
    text-align: left;
    font-family: 'triforcetriforce';
    font-size: 50px;
    overflow-y: hidden;
    color: var(--secondary-color);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

#timer {
  position: relative;
  left: 50%;
  transform: translate(-50%, -0);
}

#racetime-dialog, #settings-dialog {
  background-color: #d9d9d9;
  border-radius: 5px;
  box-shadow: 4px 4px 0 0 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  min-width: 300px;
  box-shadow: 3px 3px 15px 0px #333333;
  color: black;
}

#racetime-dialog select {
  width: 100%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 15px;
}

#racetime-dialog input[type="button"] {
  width: 100%;
}

#settings-dialog {
  width: 350px;
}

.overlay {
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: var(--primary-color);
    padding: 5px;
}

#footer>div {
    float: right;
    margin-right: 10px;
}
